<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav class="navbar">
    <h2>Auth App</h2>

    <a href="/logout" class="nav-logout">
        Logout
    </a>
</nav>

<div class="container">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="flash-message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<h1>
     Welcome, {{ username }} 🎉

    </h1>

    <div class="stats-card">

        <p>
            <strong>User ID:</strong>
            {{ user_id }}
        </p>

        <p>
            <strong>Status:</strong>
            Logged In ✅
        </p>

    </div>

</div>

</body>
</html>